.loader {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    border: 7px solid #666;
    border-top: 7px solid #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}